* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("img/symphony.png");
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    height: 60px;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    float: left;
    font-size: 20px;
    color: #ffffff;
    padding-top: 20px;
}

.jumbotron {
    background: url("img/sunset.jpg") center center no-repeat;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

h1 {
    float: right;
    position: relative;
    top: 235px;
    right: 10%;
}

.aboutSection, .lifeBefore, .portfolioSection, .contactSection {
    margin: 10px;
}

.sectionOne {
    font-size: 20px;
    background-color: #9daab4;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;   
}

  .aboutMe {
      margin-top: 0;
      background-color: rgba(157,170,180,0.3);
      width: 100%;
  }

  p {
    margin: 0 5px;
    padding: 7px;
    line-height: 1.5em;
}

.selfieAmsterdam, .selfieCharlie, .selfieRome, .selfieSelfie, .selfieFrance, .selfieUNC {
    width: 100%;
}

  .imageSection {
      max-width: 100%;
      margin: 0 16px;
      padding: 0;
  }
  
  .col-xs-2 {
      padding: 0;
  }

  span {
      position: relative;
      top: 40%;
  }

  .overlayAmsterdam, .overlayCharlie, .overlayRome, .overlaySelfie, .overlayFrance, .overlayUNC {
      position: absolute;
      height: 100%;
      top: 0;
      opacity: 0;
      width: 100%;
      color: #7f87e0;
      text-align: center;
      font-family: 'Lobster', cursive;
      font-size: 25px;
      letter-spacing: .1em;
  }

  .sectionTwo {
      background-color: #e4dfc1;
      font-size: 20px;
      padding: 20px 20px 20px 5px;
      font-family: 'Lobster', cursive;
      color: #ffffff;
      font-size: 25px; 
      letter-spacing: 0.1em;
  }

  .speech {
    margin-top: 0;
    background-color: rgba(239,221,171,0.3);
    width: 100%;
  }

  .sectionThree {
    background-color: #f1dba2;
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;
}

.portfolio {
    margin-top: 0;
    background-color: rgba(241,219,162,0.3);
    width: 100%;
}

.sectionFour {
    background-color: #fcc58c;
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;
}

.contact {
    margin-top: 0;
    background-color: rgba(252,197,140,0.3);
    width: 100%;
}

 