/* WHOLE PAGE */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("img/symphony.png");
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

#logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 40px;
    color: #ffffff;
    padding-left: 3%;
    padding-top: 15px;
}

.button-collapse {
    padding: 0;
}

nav {
    background: transparent;
    transition: background 1s;
}

nav ul a {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
}

#contact {
    margin-right: 75px;
}

/* MAIN PICTURE */

.main-image {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    position:relative !important;
    top: -72px;
    right:0;
    left: 0;
}

.row .col {
    padding: 0;
}


.card .card-image .card-title {
    top: 25%;
    left: 70%;
    font-family: 'Grand Hotel', cursive;
    font-size: 75px;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.btn-floating.btn-large{
    position: absolute;
    bottom: 1%;
    left: 50%;
}

.btn-floating.btn-large i {
    color: #443e41;
}

/* GENERAL SECTION STYLING */
.section {
    padding-top: 0;
}

.content {
    font-size: 20px; 
    letter-spacing: 0.1em;
    padding: 7px;
    line-height: 1.3em;
}

.container {
    min-width: 90%;
}

/* ABOUT SECTION */
.about-title {
    background-color: #9daab4;
    font-size: 50px;
    padding: 15px;
    font-family: 'Grand Hotel', cursive;
    color: #fff;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.about-content {
    background-color: rgba(157,170,180,0.3);
}

.about-img {
    max-width: 100%;
}

.about-row {
    margin-bottom: 0;
}

/* PHOTO ROW */
.row .col.s2{
    position: relative;
    margin-bottom: 20px;
}

.about-blurb {
    position: relative;
    top: 40%;
}

.overlayAmsterdam, .overlayCharlie, .overlayRome, .overlayValentine, .overlayParis, .overlayUNC {
    position: absolute;
    height: 100%;
    top: 0;
    opacity: 0;
    width: 100%;
    transition: background-color 1s, opacity 1s;
    color: #fff;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 2vw;
    letter-spacing: .1em;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.overlayAmsterdam:hover, .overlayCharlie:hover, .overlayRome:hover, .overlayValentine:hover, .overlayParis:hover, .overlayUNC:hover {
  opacity: 1;
  background-color: rgba(246, 183, 146, 0.3);
}

/* BEFORE CODE SECTION */
.before-card {
    top: -16px;
    margin-left: 10px;
    background-color: #e4dfc1;
}

.card .before-reveal {
    background-color: #e4dfc1;
}

.before-title {
    background-color: #e4dfc1;
      font-size: 20px;
      padding: 20px 20px 20px 5px;
      font-family: 'Grand Hotel', cursive;
      color: #ffffff;
      font-size: 50px; 
      letter-spacing: 0.1em;
      text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.before-blurb {
    padding-top: 10px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
}

.before-content {
    background-color: rgba(239,221,171,0.3);
    padding-bottom: 150px;
}

/* CAROUSEL/Portfolio */
.portfolio-content-header, .portfolio-content-body, .mern-row {
    background-color: rgba(253,191,146,0.3);
}

.mern-img {
    width: 10%;
}

.portfolio-content-header {
    font-size: 30px;
}

.portfolio-content-title {
    font-size: 30px;
    color: black; 
}

.carousel .carousel-item {
    width: 500px;
    height: 400px;
}

.carousel {
    height: 550px;
}

.portfolio-title {
    background-color: #f4d59a;
      font-size: 20px;
      padding: 20px 20px 20px 5px;
      font-family: 'Grand Hotel', cursive;
      color: #ffffff;
      font-size: 50px; 
      letter-spacing: 0.1em;
      text-align: center;
      text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.portfolio-card {
    background-color: #f4d59a;
}

.card .portfolio-reveal {
    background-color: #f4d59a;
}

.portfolio-blurb {
    padding-top: 10px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    color: #1c1c1d;
}

/* CONTACT SECTION */
.email-title {
    background-color: #fdb992;
    font-size: 50px;
    padding: 15px;
    font-family: 'Grand Hotel', cursive;
    color: #fff;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
    margin-right: 5px;
}

.container .row {
    margin: 0 5px 0 0;
}

.email-content{
    background-color:rgba(253,191,146,0.3);
    margin-left: 10%;
    padding: 10px;
    margin-right: 10%;
}

input {
    margin-left: 35%;
}

.contact-image {
    width: 50%;
    padding: 30px;
    margin-left: 10%;
    padding: 5%;
}

.contact-image-row {
    background-color:rgba(253,191,146,0.3);
}

.submit-button {
    background-color: #fdb992;
    margin-left: 7%;
    margin-bottom: 3%;
}

.submit-button:hover {
    background-color: #fdab74;
}

/* FOOTER */
.page-footer {
    background-color: #fdab74;
    margin-top: 50px;
    font-family: 'Grand Hotel', cursive;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

 