* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("img/symphony.png");
    font-family: 'Source Sans Pro', sans-serif;
};

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-default {
    border: none;
    overflow: hidden;
}

.navbar-default .navbar-brand {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    float: left;
    font-size: 20px;
    color: #ffffff;
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #fcc58c;
}

.jumbotron {
    background: url("img/sunset.jpg") center center no-repeat;
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    background-size: 100%;
    height: 100vh;
    padding: 0;
    max-width: 100vmax;
}

.hi {
    float: right;
    position: relative;
    top: 235px;
    right: 36%;

    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.me {
    float: right;
    position: relative;
    top: 235px;
    opacity: 0;

    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.col-xs-2 {
    padding: 0;
    margin-bottom: 20px;
}

.lifeBefore .row .col-xs-8 {
    margin-bottom: 20px;
}

.portfolioSection .row .col-xs-12 {
    margin-bottom: 20px;
}

.contactSection .row .col-xs-12 {
    margin-bottom: 20px;
}

.row {
    margin-right: 0;
}

.sectionOne {
    background-color: #9daab4;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;   
}

  .aboutMe {
      margin-top: 0;
      background-color: rgba(157,170,180,0.3);
      width: 100%;
  }

  p {
    margin: 0 5px;
    padding: 7px;
    line-height: 1.5em;
    color: #443e41;
    font-size: 20px;
}

.selfieAmsterdam, .selfieCharlie, .selfieRome, .selfieVal, .selfieFrance, .selfieUNC {
    width: 100%;
}

  .imageSection {
      max-width: 100%;
      margin: 0 16px;
      padding: 0;
  }

  span {
      position: relative;
      top: 40%;
  }

  .overlayAmsterdam, .overlayCharlie, .overlayRome, .overlayVal, .overlayFrance, .overlayUNC {
      position: absolute;
      height: 100%;
      top: 0;
      opacity: 0;
      width: 100%;
      color: #fff;
      text-align: center;
      font-family: 'Lobster Two', cursive;
      font-size: 25px;
      letter-spacing: .1em;
      text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }

  .overlayAmsterdam:hover, .overlayCharlie:hover, .overlayRome:hover, .overlayVal:hover, .overlayFrance:hover, .overlayUNC:hover {
    opacity: 1;
    background-color: rgba(246, 183, 146, 0.3);
}

  .sectionTwo {
      background-color: #e4dfc1;
      font-size: 20px;
      padding: 20px 20px 20px 5px;
      font-family: 'Lobster Two', cursive;
      color: #ffffff;
      font-size: 25px; 
      letter-spacing: 0.1em;
  }

  .speech {
    margin-top: 0;
    background-color: rgba(239,221,171,0.3);
    width: 100%;
    margin-bottom: 20px;
  }

  .col-xs-3 {
      margin-top: 15px;
  }

  .scope, .poster {
      width: 100%;
  }

  .sectionThree {
    background-color: #f1dba2;
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;
}

.portfolio {
    margin-top: 0;
    background-color: rgba(241,219,162,0.3);
    width: 100%;
}

.sectionFour {
    background-color: #fcc58c;
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    font-size: 25px; 
    letter-spacing: 0.1em;
}

.contact {
    margin-top: 0;
    background-color: rgba(252,197,140,0.3);
    width: 100%;
}

 